server:
  port: 8080

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      auto-commit: false

  liquibase:
    enabled: false
  jpa:
    hibernate:
      ddl-auto: validate
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true
  mvc:
    pathmatch:
      matching-strategy: ant-path-matcher

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
      timeout: 6000

jwt:
  signer-key: ${JWT_SIGNER_KEY}
  issuer: ${JWT_ISSUER}
  valid-duration: 600 # in seconds -> 10 minutes
  refreshable-duration: 36000 # in seconds -> 10 hours

schedule:
  cleanup-token:
    enabled: true
    batch-size: 500
    fixed-delay-ms: 21600000 # 6 hours

payos:
  client-id: ${PAYOS_CLIENT_ID}
  api-key: ${PAYOS_API_KEY}
  checksum-key: ${PAYOS_CHECKSUM_KEY}
  base-url: https://api-merchant.payos.vn
  # test first, will put this in env
  return-url: https://hilldevil.space/payment/success
  cancel-url: https://hilldevil.space/payment/cancel

management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: always

frontend: 
  base-url: ${FRONTEND_BASE_URL:http://localhost:5000}

cloudinary:
  cloud_name: ${CLOUD_NAME}
  api_key: ${CLOUD_API_KEY}
  api_secret: ${CLOUD_API_SECRET}

brevo:
  api_key: ${BREVO_API_KEY}
  mail_base_url: ${BREVO_MAIL_URL}
